.projects {
  width: 90%;
  margin: auto;
  min-height: 83vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 5rem;
  }
}

.travelly,
.elena,
.crypto,
.hotel,
.wix {
  margin-bottom: 3rem;
  flex: 1 1 40rem;
  @include flex(center, center, column);
}

// a {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
